/* Stylesheet for Duunitori application Jaakko Ihanamäki */

.trainee-positions {
  max-height: 45vh;
  overflow: scroll;
}

.trainee {
  display: flex;
  align-content: center;
  width: 100%;
  border: 1px solid #eee;
  padding: 0.7rem;
}

.company_name {
  background: #f5f7f8 no-repeat center top;
  border-radius: 50%;
  float: left;
  width: 6rem;
  height: 6rem;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  padding: 6px;
}

.company_name span {
  color: #3e3e41;
  font-size: 1.1rem;
  font-weight: 600;
}

.position-name {
  color: #222;
  margin: 1rem;
}

.additional {
  color: #9e9ea0;
  font-size: 1.35rem;
  position: relative;
  top: 50%;
  right: 25%;
}
